<main class="container-flex">
  <section class="container-flex">
    <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav mx-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="products">Product</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="templateform">Template form</a>
          </li>
          <!-- <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="reactiveform">Reactive form</a>
          </li> -->
        </ul>
      </div>
    </nav>
  </section>
  <section class="container mt-5">
    <router-outlet></router-outlet>
  </section>
</main>